body {
    font-family: sans-serif;
}
h1{
   text-align: center;
    color: rgb(217, 192, 240);
    background-color: cornflowerblue; 
}
iframe{
    border: 6px solid rgb(114, 22, 111);
   
}
body{
    background-color: blueviolet;
} 
.qwe{
    display: flex;
    justify-content: center;
}

